<div *ngIf="!isDeleted" class="card">
  <div class="card-header">
    <ul class="nav">
      <li class="nav-item active fw-bold">
        {{expandedResource?.name}}
      </li>
      <span class="m-2"></span>
      <li class="rounded nav-item {{option}} text-white">
        {{expandedResource?.method}}
      </li>
      <span class="m-2"></span>
      <li class="nav-item active">
        {{expandedResource?.route}}
      </li>
      <span class="m-2"></span>
      <li class="nav-item active">
        {{expandedResource?.description}}
      </li>
    </ul>
  </div>
  <div class="card-body bg-dark text-white">
    <h5 class="fw-bold"> {{model?.name}} </h5>
    &#123;
    <br>
    <div class="{{model?.name}}" *ngFor="let model of model?.fields"> {{model.name + ': ' + model.fieldType}} </div>
    &#125;
  </div>
</div>
<div *ngIf="isDeleted" class="card bg-dark text-white">
  Model was deleted
</div>
