<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Edit {{name}}</h5>
      </div>
      <div class="modal-body">
      <form class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Entity Name</label>
      <input name="name" type="text" [(ngModel)]="name">
    </div>
    <div class="col-12">
    <label class="form-label">API url</label>
    <input name="api" type="text" [(ngModel)]="api">
    </div>
    <div class="col-12">
    <label class="form-label">Description</label>
    <input name="desc" type="text" [(ngModel)]="description">
    </div>
    <div *ngIf="action != null" class="col-12">
      <label class="form-label">Action</label>
      <input name="action" type="text" [(ngModel)]="action">
    </div>
  </form>
</div>
      <div class="modal-footer">
        <button (click)="onCancel()">Cancel</button>
        <button (click)="onSaveProject()"*ngIf="action === ''">Save</button>
        <button (click)="onDelete()" *ngIf="action !== ''">Delete</button>
        <button (click)="onSaveResource()" *ngIf="action !== ''">Save</button>

      </div>
    </div>
  </div>
</div>
