<div mat-dialog-content>
  <p>Edit Your Project</p>
  <form class="row g-3">
    <div class="col-md-6">
    <label class="form-label">Project Name</label>
    <input name="name" type="text" [(ngModel)]="data.name">
    </div>
    <div class="col-12">
    <label class="form-label">API url base</label>
    <input name="api" type="text" [(ngModel)]="data.api">
    </div>
    <div class="col-12">
    <label class="form-label">Description</label>
    <input name="desc" type="text" [(ngModel)]="data.description">
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="{name: data.name, api: data.api, description: data.description}" cdkFocusInitial>Save</button>
</div>

