<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Mini Swagger</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createProject">Create project <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createResource">Create resource <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewProjects"> View your projects <span class="sr-only"></span></a>
        </li>
      </ul>

    </div>
  </div>
</nav>
