h1 {
  margin-left: 18em;
}

.inner-spacing {
  padding: 0.5em;
}

.form-resources {
  background-color: white;
  border-style: groove;
}

.create-button {
  margin-left: 40em;
}

.table-wrapper {
  width: 40em;
  margin-left: 40em;
  max-height: 20em;
  overflow-y: auto;
  overflow-x: hidden;
}
