<div class="mt-4 text-center">
  <h2> This tool helps you document your api, </h2>
  <h2> this includes creating projects with some base url</h2>
  <h2> and also creating numerous resources under this project </h2>
  <h2> resources such as: DELETE, GET, POST and other possibilities. </h2>
  <h2> This tool is very intuitive, for project creation please select the </h2>
  <h2> "Create project" option from the navigation bar. </h2>
  <h2> The same goes for resource creation. </h2>
  <h2> If you would like to view your projects or resources, please select </h2>
  <h2> "View your projects", and for each project you may also see it's resources </h2>
</div>
