  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Edit Resource {{name}}</h5>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-12">
            <label class="form-label">Entity Name: </label>
            <input name="name" type="text" [(ngModel)]="name">
          </div>
          <div class="col-12">
            <label class="form-label">API url: </label>
            <input name="api" type="text" [(ngModel)]="apiSuffix">
          </div>
          <div class="col-12">
            <label class="form-label">Description: </label>
            <input name="desc" type="text" [(ngModel)]="description">
          </div>
          <div *ngIf="method != null" class="col-12">
            <label class="form-label">Action: </label>
            <input name="action" type="text" [(ngModel)]="method">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
        <button class="btn btn-primary" (click)="onSaveResource()">Save</button>
      </div>
    </div>
  </div>
