/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green-snackbar {
  background: #00D100;
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.red-snackbar{
  background: #D10000;
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}
