<h4 class="text-center mt-3"> Models </h4>
<div class="container shadow p-3 mb-5 bg-white rounded">
  <div *ngFor="let i of [].constructor(models.length * 4 / 4); index as index" class="row m-4">
    <div *ngFor="let model of models; index as j" class="col-sm-6">
      <div *ngIf="j >= index * 4 && j <= index * 4 + 3" class="card">
        <div class="card-header">
          <div class="row">
          <h4 class="col-sm">{{model.name}}</h4>
          <div class="col-sm text-sm-end">
          <img (click)="deleteModel(model)" src="/assets/img/trash.svg" alt="" width="20" height="20"
               title="Delete Model">
          <img
            [queryParams]="{projectName: projectName, modelName: model.name, edit: true}"
            routerLink="/model" src="/assets/img/pencil.svg" alt="" width="20" height="20" title="Edit Model">
          </div>
        </div>
        </div>
        <div class="card-body">
          <div class="card-text">
            <div *ngFor="let field of model.fields" class="row">
              <p>Field Name: {{field.name}}</p>
              <p>Field Type: {{field.fieldType}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button routerLink="/model"
          [queryParams]="{projectName: projectName}"
          type="submit"
          class="btn btn-primary btn-sm mb-1">
    Create New Model
  </button>
</div>
