<div class="forming">
  <h2> Create a new project</h2>

  <form class="row g-3">
    <div class="col-md-6">
      <label for="name" class="form-label">Project Name</label>
      <input #projectName required minlength="3" type="text" class="form-control" ngModel name="name" #name="ngModel"
             id="name" placeholder="My New Project">
    </div>

    <div class="col-12">
      <label for="api" class="form-label">API base url</label>
      <input minlength="2" #api type="url" class="form-control" id="api" placeholder="/isalive">
    </div>
    <div class="col-12">
      <label for="general" class="form-label">General Description</label>
      <input minlength="2" #desc type="text" class="form-control" id="general"
             placeholder="Checks if the url sends a ping back">
    </div>

    <div class="col-12">
      <button
        *ngIf="!(name.invalid && (name.dirty || name.touched) && (name.errors.minlength || name.errors.required)) && projectName.value.length !== 0"
        (click)="addProject([projectName.value, api.value, desc.value])" type="submit" class="btn btn-primary"><a
        class="btn btn-primary" href="/viewProjects">
        Create </a></button>

    </div>
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      <div *ngIf="name.errors.minlength">
        Project name must be at least 3 characters long.
      </div>
      <div *ngIf="name.errors.required">
        Project Name is required.
      </div>
    </div>

  </form>
</div>
